        <!-- Jobs -->
        <div class="section-container">
	        <div class="row">
                <h1><strong>Latest Remote Jobs</strong></h1>
            </div>

            <!-- Jobs Filtering -->
            <div class="row">
                <form role="form" action="" method="get">
                    <h3>
                    Showing results for
                    <input type="text" name="query" placeholder="All Jobs" class="jobs_filter" value="<%= @query %>" autofocus>
                    </select>
                    <button type="submit" class="btn">Apply</button>
                    </h3>
                </form>
            </div>

            <!-- Jobs List -->
            <% @data[:jobs_paged][@current_page - 1].each do |job| %>
            <div class="always-beautiful-box-text">
                <div class="row">
                    <a href="#" class="launch-modal" data-modal-id="modal-job-<%= job.job_id %>"><h2><%= job.job_title %></h2></a>
                </div>
                <div class="row">
                    <strong>Company: </strong>
                    <%= job.job_company %>
                </div>
                <div class="row">
                    <strong>Headquarters: </strong>
                    <%= job.job_location %>
                </div>
                <div class="row">
                    <a href="#" class="launch-modal" data-modal-id="modal-job-<%= job.job_id %>">Open ❏︎</a>
                </div>
            </div>
            <% end %>

            <!-- Jobs Pagination -->
            <div class="row">
                <h3>
                <% if @current_page > 1 %>
                  <a class="" href="<%= add_page_to_fullpath(@current_page - 1, request.fullpath) %>">←</a>
                <% end %>
                Page <%= "#{@current_page}/#{@total_pages}" %>
                <% if @current_page < @total_pages %>
                  <a class="" href="<%= add_page_to_fullpath(@current_page + 1, request.fullpath) %>">→</a>
                <% end %>
                </h3>
            </div>
        </div>

        <!-- MODAL: Job Description -->
        <% @data[:jobs_paged][@current_page - 1].each do |job| %>
        <div class="modal fade" id="modal-job-<%= job.job_id %>" tabindex="-1" role="dialog" aria-labelledby="modal-job-<%= job.job_id %>-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title" id="modal-job-<%= job.job_id %>-label"><%= job.job_title %></h2>
                    </div>
                    <div class="modal-body">
                    <!-- Displaying job description without URL: block -->
                    <%= job.job_description.sub(/\<strong\>URL:.+\<\/a\>/, '').sub(/\<strong\>URL:.+?\<\/p\>/m, '</p>') %>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-link-1" target="_blank" href="<%= job.job_url %>">Go to Job Board</a>
                        <button type="button" class="btn" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <% end %>
